#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_install:
	# Install patches for qemu-server
	install -d $(CURDIR)/debian/pve-microvm/usr/share/pve-microvm/patches
	install -m 644 debian/patches/*.patch $(CURDIR)/debian/pve-microvm/usr/share/pve-microvm/patches/

	# Install the patch application/removal scripts and MicroVM module
	install -d $(CURDIR)/debian/pve-microvm/usr/share/pve-microvm
	install -m 755 tools/pve-microvm-patch $(CURDIR)/debian/pve-microvm/usr/share/pve-microvm/
	install -m 644 tools/MicroVM.pm $(CURDIR)/debian/pve-microvm/usr/share/pve-microvm/

	# Install OCI import tool
	install -d $(CURDIR)/debian/pve-microvm/usr/bin
	install -m 755 tools/pve-oci-import $(CURDIR)/debian/pve-microvm/usr/bin/

	# Install microvm defaults
	install -d $(CURDIR)/debian/pve-microvm/usr/share/pve-microvm
	install -m 644 doc/microvm-defaults.conf $(CURDIR)/debian/pve-microvm/usr/share/pve-microvm/

override_dh_auto_build:
	# Nothing to build

override_dh_auto_test:
	# No tests during build
